body {
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.feature {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}


.top {
    background-image: url(https://images.unsplash.com/photo-1543421991-57b1620b205e?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-start;
}

.middle {
    background-image: url(https://plus.unsplash.com/premium_photo-1723575880167-1b2c0925c921?q=80&w=1158&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.bottom {
    background-image: url(https://plus.unsplash.com/premium_photo-1691031430107-79076cba9d5e?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

header {
    display: flex;
    position: fixed;
    align-content: space-evenly;
    flex-direction: row;
    gap: 5rem;

}


h1 {
    display: block;
    font-weight: bolder;
    font-size: 60px;
    color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem 2rem;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    flex-direction: row;
    gap: 3rem;
    z-index: 1;
    text-transform: uppercase;
    padding: 25px 25px;
}

.navbar a {
    color: antiquewhite;
    
    
}

.navbar a:hover {
    color:olivedrab;
}

h3 {
    text-transform: uppercase;
    padding: 1rem 2rem;
}

h2 {
    padding: 1rem 2rem;
}

.readmore {
    display:inline-block;
    border: 3px;
    border-style:ridge;
    border-color: antiquewhite;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    color: antiquewhite;
}

footer {
    text-align: center;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:olivedrab
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color:olivedrab
  }